/* Resetting default margin and padding */
body, h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 217, 217);
    font-family: Arial, sans-serif;
}

/* Styling for header */
header {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    text-decoration: none;
    color: gray;
    margin-right: 20px;
}

/* Styling for main content */
main {
    padding: 20px;
}

/* Styling for image */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for stats section */
#stats {
    margin-top: 20px;
   
}

#stats h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#stats p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}


